@using Shared.Models
@using System.ComponentModel.DataAnnotations;
@model Shared.Models.ClientModel
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img img src="~/img/nasa.png" class="login-logo" alt="" />
            <h3>Welcome</h3>
            <p>To Pyrros</p>
            <p>
                <b>
                    Pyrros group is a fully licensed eMoney institution
                    regulated by the Central Bank of Lithuania.
                </b>
            </p>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">Corporate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">CEO</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">UBO</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">UBO Registration</h3>
                    <form asp-action="AddCompanyUBO" asp-route-newId="@Model.UboId" class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select asp-for="@Model.Gender " class="form-control custom-select">
                                    <option value='Mr'>Mr.</option>
                                    <option value='Ms'>Ms.</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input asp-for="@Model.Name" type="text" class="form-control" placeholder="First Name *" />
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input asp-for="@Model.Surname" type="text" class="form-control" placeholder="Last Name *" />
                                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.PersonalCode class=" form-label">Personal code</label>
                                <input asp-for="@Model.PersonalCode" class="form-control" placeholder="Personal Code *" />
                                @Html.ValidationMessageFor(model => model.PersonalCode, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="form-label" asp-for="BirthDate">Birth date</label>
                                <input class="form-control" type="date" asp-for="BirthDate" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Citizenship" class="form-label">Citizenship</label>
                                <select asp-for="Citizenship " class="form-control custom-select">
                                    <option value='Ascension Island'>Ascension Island</option>
                                    <option value='Andorra'>Andorra</option>
                                    <option value='United Arab Emirates'>United Arab Emirates</option>
                                    <option value='Afghanistan'>Afghanistan</option>
                                    <option value='Antigua And Barbuda'>Antigua And Barbuda</option>
                                    <option value='Anguilla'>Anguilla</option>
                                    <option value='Albania'>Albania</option>
                                    <option value='Armenia'>Armenia</option>
                                    <option value='Angola'>Angola</option>
                                    <option value='Antarctica'>Antarctica</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.CountryOfResidence class=" form-label">Country of residence</label>
                                <select asp-for="@Model.CountryOfResidence " class="form-control custom-select">
                                    <option value='Ascension Island'>Ascension Island</option>
                                    <option value='Andorra'>Andorra</option>
                                    <option value='United Arab Emirates'>United Arab Emirates</option>
                                    <option value='Afghanistan'>Afghanistan</option>
                                    <option value='Antigua And Barbuda'>Antigua And Barbuda</option>
                                    <option value='Anguilla'>Anguilla</option>
                                    <option value='Albania'>Albania</option>
                                    <option value='Armenia'>Armenia</option>
                                    <option value='Angola'>Angola</option>
                                    <option value='Antarctica'>Antarctica</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <input asp-for="@Model.CityOrTown" type="text" class="form-control" placeholder="City or town" />
                                @Html.ValidationMessageFor(model => model.CityOrTown, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <input asp-for="@Model.County" type="text" class="form-control" placeholder="Country" />
                                @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input asp-for="@Model.CountryCode" type="text" class="form-control" placeholder="Country Code" />
                                @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input asp-for="@Model.Address" type="text" class="form-control" placeholder="Your Address *" />
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <input asp-for="@Model.HouseNumber" type="text" class="form-control" placeholder="House number" />
                                @Html.ValidationMessageFor(model => model.HouseNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input asp-for="@Model.PostalCode" type="text" class="form-control" placeholder="Postal code" />
                                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input asp-for="@Model.Email" type="email" class="form-control" placeholder="Your Email *" />
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input asp-for="@Model.PhoneNumber" type="text" class="form-control" placeholder="Your Phone *" />
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <textarea asp-for="@Model.SharesOwned" class="form-control" rows="5" placeholder="Part of shares owned "></textarea>
                                @Html.ValidationMessageFor(model => model.SharesOwned, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label class="form-label">Please indicate if this person is politically exposed person, immediate member of politically exposed person or/and close associate of politically exposed person</label>
                                <div class="maxl">
                                    <label class="radio inline">
                                        <input asp-for="@Model.Politics" type="radio" name="gender" value="true">
                                        <span> Yes </span>
                                    </label>
                                    <label class="radio inline">
                                        <input asp-for="@Model.Politics" type="radio" name="gender" value="false">
                                        <span>No </span>
                                    </label>
                                </div>
                            </div>
                            @if (!Model.isSubmitted)
                            {

                                <input type="submit" class="btnRegister" value="Add user" />
                            }
                            else
                            {

                                <div class="alert alert-info">
                                    <strong>UBO addded successfully</strong>
                                </div>
                                <a class="btnGoNext" asp-controller="Client" asp-action="AddCompanyUBO" asp-route-newId="@Model.UboId">Add another one</a>
                            }

                        </div>
                    </form>
                    @await Component.InvokeAsync("Ubo", new { })


                    @if (Model.isSubmitted)
                    {

                        <a class="btnGoNext" asp-controller="Questionnaire" asp-action="AddQuestionnaire" asp-route-newId="@Model.UboId">Proceed to questionnaire</a>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
