
@model Shared.Models.CompanyModel
@if (Model.isSubmitted)
{
    <div class="alert alert-info">
        <strong>Congratulations! Information about the company is confirmed. Wait for additional information in you email box</strong>
    </div>
}

@*else
{
    <tr>
        <td>@Model.Name @Model.Surname</td>
        <td>@Model.Citizenship</td>
        <td>@Model.BirthDate.ToString("ddd d MMM")</td>
        <td>@Model.CountryOfResidence @Model.Address</td>
        <td>@Model.Email</td>
        <td>@Model.PhoneNumber</td>
        <td>@Model.BasisfOfRepresentation</td>
        <td>@Model.CompanyName</td>
        <td>@Model.LegalStatus</td>
        <td>@Model.Id</td>
        <td>@Model.CompanyId</td>
        <td>@Model.RepresentativeId</td>
        <td>@Model.CeoId</td>
        <td>@Model.UboId</td>


        <td>
            <a asp-controller="Client" asp-action="Index" asp-route-Id="@Model.CompanyId">Users</a>
        </td>

        <td>
            <a asp-controller="Client" asp-action="Delete">Delete</a>
        </td>

    </tr>
}*@